<!-- topの上ページ用 -->
<div class="main-container-top">
	<div id="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
		<div class="image5"></div>
	</div>
	<div class="main-container-headline">
		<h1>What is your</h1>
		<h1><strong>"Tricket"</strong> list?</h1>
		<button type="button" class="btn btn-default sign_up_button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Creat Passport (sign up)</button>
	</div>
</div>

<!-- モーダル用 -->
<div class="sign_modal_wrapper"></div>
<div class="sign_modal">
  	<div class="sign_up_modal sign_modal_content">
    	<h3>Creat Passport (sign up)</h3>
    	<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="YyiW5Pr4PGFO9jAr4Wh95/EEIRpxOH6QjhAhRAx3GlSLx0CM4+rh4FnPvpyb/IXdHGOlHbgJjnn/XjqL+xNXCQ==">
    	  <div class="field">
		    <label for="user_name">Name</label><br>
		    <input autofocus="autofocus" autocomplete="name" type="name" value="" name="user[name]" id="user_name">
		  </div>
		  <div class="field">
		    <label for="user_email">Email</label><br>
		    <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
		  </div>

		  <div class="field">
		    <label for="user_password">Password</label>
		    <em>(6 characters minimum)</em>
		    <br>
		    <input autocomplete="new-password" type="password" name="user[password]" id="user_password">
		  </div>

		  <div class="field">
		    <label for="user_password_confirmation">Password confirmation</label><br>
		    <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
		  </div>

		  <div class="actions">
		    <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
		  </div>
		</form>
  	</div>
</div>

<!-- topの中ページ用 -->
<div class="main-container-middle">
	<div class="main-container-middle-headline">
		<h1>About<strong> "Tricket"</strong></h1>
	</div>
	<div class="col-md-4">
		<h3>Trip × Bucket list</h2>
		<div class="main-container-middle-underline"></div>
		<div class="main-container-middle-picture1">
		</div>
		<div class="main-container-middle-content1">
			<p>Make "Tricket" list come true !!</p>
		</div>
	</div>
	<div class="col-md-4">
		<h3>Share Worldwide</h2>
		<div class="main-container-middle-underline"></div>
		<div class="main-container-middle-content2">
			<p>Share the best journies to the world</p>
		</div>
		<div class="main-container-middle-picture2"></div>
		<div class="main-container-middle-content2">
			<p>Share the best journies to the world</p>
		</div>
	</div>
	<div class="col-md-4">
		<h3>Best Memories</h2>
		<div class="main-container-middle-underline"></div>
		<div class="main-container-middle-content1">
			<p>Carry your memories in your pocket,<br>
		</div>
		<div class="main-container-middle-picture3"></div>
	</div>
</div>


<!-- topの下ページ用 -->
<div class="main-container-bottom">
	<div class="profile-headline">
		<h1>Profile</h1>
	</div>
	<div class="profile-comment">
		<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
		dbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>
		ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc<br>
		dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    </div>
	<div class="col-md-8">
		<div class="profile-details">
			<div class="profile-name">
				<h2>My Name</h2>
				<div class="main-container-bottom-underline1"></div>
				<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
			</div>
			<div class="profile-background">
				<h2>My Background</h2>
				<div class="main-container-bottom-underline2"></div>
				<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="image1"></div>
	</div>
</div>



















